@model List<MeuClass.Data.Lesson>

<script>
    function ModelJoinLesson() {
        swal({
            text: 'Ders Kodunu Giriniz',
            content: "input",
            button: {
                text: "Katıl",
                closeModal: false,
            },
        })
            .then(code => {
                if (!code) throw null;
                @{
                    var url = @String.Format("{0}://{1}:{2}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port);
                    url += "/Lesson/Join/";
                }
                return fetch('@url' + code+"/"+ @Session["user_id"]);
            })
            .then(results => {

                return results.json();
            })
            .then(json => {
                var resultdata = json;
                console.log(resultdata);

                if (resultdata.Success == false) {
                    return swal(resultdata.Message);
                }
                swal({
                    title: resultdata.Data.LessonName + " Dersine Katıldınız",

                        icon: "success",
                        button: "Tamam"

                    })
                    .then((val) => {
                        @{ var detail = @String.Format("{0}://{1}:{2}", Request.Url.Scheme, Request.Url.Host, Request.Url.Port);}
                        window.location.href = "@detail"+ "/Lesson/Detail/" + resultdata.Data.LessonID;
                    });

            })
            .catch(err => {
                if (err) {
                    swal("Oh noes!", "The AJAX request failed!", "error");
                } else {
                    swal.stopLoading();
                    swal.close();
                }
            });

        return false;
    }
</script>

			<div class="panel bg-light-blue">
				<div class="panel-heading">
					<h3 class="panel-title white-text">Dersler</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up white-text"></i></span>
				</div>
				<div class="panel-body pad-0">
                      @{
            if (Model.Count > 0)
            {
                foreach (var item in Model)
                {

                    @Html.ActionLink(item.LessonName, "Detail", "Lesson", new { area = "", id = item.LessonID }, new { @class = "list-group-item" })
                }
            }
        }

        <a href="#" class="list-group-item">Tüm Sınıflar</a>
        @if (Convert.ToInt32(Session["usertypeid"]) == 2)
        {
            @Html.ActionLink("Ders Oluştur", "Add", "Lesson", new { area = "" }, new { @class = "list-group-item" })
        }
        else
        {
            <a href="#" onclick="ModelJoinLesson()" class="list-group-item">Derse Katıl</a>
           
        }
                </div>
			</div>
	<div style="border:1px solid #3498DB" class="panel">
				<div class="panel-heading bg-light-blue">
					<h3 class="panel-title white-text">Takvim</h3>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up white-text"></i></span>
				</div>
				<div class="panel-body">
                 <span>Tarihi yaklaşan ödeviniz bulunmamaktadır.</span>
                </div>
			</div>



<script>
    $(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
	if(!$this.hasClass('panel-collapsed')) {
		$this.parents('.panel').find('.panel-body').slideUp();
		$this.addClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	} else {
		$this.parents('.panel').find('.panel-body').slideDown();
		$this.removeClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	}
})
</script>