@model MeuClass.Data.User
<div class="content-left">
    <div class="panel panel-default about">
        <div class="panel-body">
            <div class="content-left-profile">
                <div class="col-sm-12">
                    <img style="" src="/Content/img/profile.jpg" alt="" class="img-thumbnail img-circle">
                </div>

                <div class="content-left-profile-follow ">
                    <button class="btn btn-default">Takip Et</button>
                    <button class="btn btn-default">Mesaj Yaz</button>
                </div>

            </div>
        </div>
    </div>

    <div class="panel panel-default about">
        <div class="panel-heading">
            <h3 class="panel-title">Profil Bilgileri</h3>
        </div>
        <div class="panel-body">
            <div class="about-content">
                <h5>Adı Soyadı</h5>
                @if (String.IsNullOrEmpty(Model.Name))
                {
                    <span>Bilgi Girilmedi</span>
                }
                else if (String.IsNullOrEmpty(Model.Surname))
                {
                    <span>Bilgi Girilmedi</span>
                }
                else
                {
                    <span>@Model.Name @Model.Surname</span>
                }
            </div>
            <div class="about-content">
                <h5>E-mail</h5>
                @if (String.IsNullOrEmpty(Model.MailAddress))
                {
                    <span>Mail bilgisi yok</span>
                }
                else
                {
                    <span>@Model.MailAddress</span>
                }
            </div>
            <div class="about-content">
                <h5>Doğum Tarihi</h5>
                @if (String.IsNullOrEmpty(Model.Birthday.ToString()))
                {                    
                    <span>Doğumgünü bilgisi yok</span>
                }
                else
                {
                    DateTime bday = Convert.ToDateTime(Model.Birthday);
                    <span>@bday.ToString("dd/MM/yyyy")</span>
                }
            </div>
            <div class="about-content">
                <h5>Bölüm</h5>
                @if (Model.DepartmentID is null)
                {
                    <span>Bölüm bilgisi yok</span>
                }
                else
                {
                    <span>@Model.Department.DepartmentName</span>
                }
            </div>
        </div>
    </div>

    <div class="panel panel-default about">
        <div class="panel-heading">
            <h3 class="panel-title">Diğer Sosyal Ağlar</h3>
        </div>
        <div class="panel-body">
            <button style="background-color:#3b5998; color:white;" type="button" class="btn btn-block">
                <i class="fa fa-facebook" aria-hidden="true"></i> Facebook
            </button>
            <button style="background-color:#1da1f2; color:white;" type="button" class="btn   btn-block">
                <i class="fa fa-twitter" aria-hidden="true"></i> Twitter
            </button>
            <button style="background-color:#e1306c; color:white;" type="button" class="btn btn-block">
                <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
            </button>
        </div>
    </div>
</div>